body{
  font-family: sans-serif;
  background: #FFFFFC;
}

h4{
  font-size: 25px;
  text-transform: uppercase;
}

.container{
  text-align: left;
}

.item{
  background: #5DBCD2;
  text-decoration: none;
  padding: 18px;
  border-style: solid;
  border-width: medium;
  color: white;
}

.desc{
  margin: 30px 250px;
  text-align: justify;
}

 .header{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #35393C;
   color: white;
   text-align: center;
 }

 .wrap {
   width: 1000px;
   margin: auto;
   margin-top: 100px;
 }
.card img{
  padding: 3px;
  margin-top: 5px;
  width: 100%;

}

.card{
   width: 350px;
   height: 550px;
   text-align: center;
   float: left;
   margin: 10px;
   border-style: ridge;
   border-radius: 5px;
   margin-bottom: 100px;
   box-shadow: 5px 10px #888888;
 }

 .readmore{
  background-color: #201644;
  color: white;
  cursor: point;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
}

.content {
  color: #35393C
  padding: 0 17px;
  overflow: hidden;
}

.header a ,.item a{
  color: white;
  padding: 14px 30px;
  text-decoration: none;
}

.item a:hover{
  background-color: #4BB3FD;
}

.header a:hover{
  background-color: #42858C;
}

#hcontent {
    display:none;
    margin: none;
    color: #f4f6f9;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
    text-align: left;
    font-size: 15px;
    text-transform: none;
}

.readmore,bhover {
  width: 320px;

}
#bhover:hover #hcontent {
    display:block;
}
